.divs {
    margin-left: 5px;
}

.caja{
    text-align: left !important;
    background-color: red;
    width: 250px;
    height: 250px;
    margin: 10px 5px;
    color: yellow;
    font-size: 40px;
    float: left;
}

.caja2{
    background-color: black !important; 
    color: white !important; 
}